{extend name="base" /}
{block name="body"}
<div class="layui-card">
    <div class="layui-card-body">
        <form action="" class="layui-form" method="post">
        
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">{:__('mailbox')}</label>
            <div class="layui-input-block">
                <input type="text" placeholder="{:__('mailbox')}" id="email" value="{$data.email|default=''}" style="width: 80%" name="email" lay-verify="email" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">{:__('Verification Code')}</label>
            <div class="layui-input-block">
                <input type="text" name="code" id="code" value="{$data.code|default=''}" style="width: 80%" lay-verify="code" placeholder="{:__('Verification Code')}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: 100px">{:__('Expiration time')}</label>
            <div class="layui-input-block">
                <input type="text" name="exptime" id="exptime" value="{$data.exptime|default=''}" style="width: 80%" lay-verify="exptime" placeholder="{:__('Expiration time')}" autocomplete="off" class="layui-input">
            </div>
        </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-filter="i" lay-submit="">{:__('preservation')}</button>
                    <button class="layui-btn layui-btn-primary" type="reset">{:__('cancel')}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
