{extend name="base" /}
{block name="body"} 
<table class="layui-hide" id="version" lay-filter="version"></table>

<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="delete">批量删除</button>
        <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新</button>
        <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    </div>
</script>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-icon layui-icon-edit layui-btn-xs" id="edits" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs layui-icon  layui-icon-delete " id="dels" lay-event="del">删除</a>
</script>
<!--新增表单 start-->
<div id="add-main" style="display: none;margin-top: 40px;">
    <form class="layui-form" id="add-form" action="" lay-filter="add-form">
        <input type="hidden" name="id" value="0" id="id">
        <div class="layui-form-item">
            <label class="layui-form-label">旧版本号</label>
            <div class="layui-input-block">
                <input type="text" placeholder="旧版本号" name="oldversion" id="oldversion" style="width: 80%"
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">新版本号</label>
            <div class="layui-input-block">
                <input type="text" placeholder="新版本号" name="newversion" id="newversion" style="width: 80%"
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">升级内容</label>
            <div class="layui-input-block">
                <input type="text" placeholder="新版本号" name="content" id="content" style="width: 80%"
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-block">
                <input type="text" placeholder="新版本号" name="weigh" id="weigh" style="width: 80%" value="0"
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">强制更新</label>
            <div class="layui-input-block">
                <input type="radio" name="enforce" value="1" title="是"/>
                <input type="radio" name="enforce" value="0" title="否" checked/>

            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">状&nbsp;&nbsp;态</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="正常" checked/>
                <input type="radio" name="status" value="0" title="禁用"/>

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="save">保存</button>
                <button type="button" class="layui-btn layui-btn-danger" onclick="layer.closeAll()">取消</button>
            </div>
        </div>
    </form>
</div>

<!--新增表单 end-->
{/block}

{block name="js"}
<script>
    layui.use(['table', 'form'], function () {
        var table = layui.table,
            $ = layui.jquery,
            form = layui.form;
        form.render();

        table.render({
            elem: '#version'
            , url: '/version/info'  // 请求数据路由地址
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80, align: 'center', fixed: 'left'}
                , {field: 'oldversion', title: '旧版本号', align: 'center', width: 120}
                , {field: 'newversion', title: '新版本号', align: 'center', width: 120}
                , {field: 'content', title: '升级内容', align: 'center', width: 160}
                , {field: 'weigh', title: '排序', align: 'center', width: 160,sort:true}
                , {field: 'enforce', title: '强制更新', align: 'center', width: 160,templet:function (d) {
                        return d.enforce ? '是' : '否';
                    }}
                , {field: 'createtime', title: '创建时间', align: 'center', width: 160}
                , {
                    field: 'status', title: '状态', align: 'center', width: 80, templet: function (d) {
                        return d.status ? ' <i class="layui-icon layui-icon-ok-circle" style="font-size: 25px; color: #009688;"></i>' : '<i class="layui-icon layui-icon-close-fill" style="font-size: 25px; color: #FF5722;"></i>';
                    }
                }
                , {fixed: 'right', title: '操作', align: 'center', toolbar: '#barDemo', width: 150}
            ]]
            , page: true
            , limit: 3
            , text: {none: '{:__('No data available')}'}

        });
        //表单提交
        form.on('submit(save)', function (data) {
        var index = layer.msg('提交中，请稍候', {
        icon: 16,
        time: false,
        shade: 0.3
    });
            params = data.field;
            submit($, params);
            return false;
        });

        // 新增
        function submit($, params) {
            var url = params.id > 0 ? '/version/edit' : '/version/add';
            $.post(url, params, function (res) {
                if (res.code == 0) {
                    layer.msg(res.msg, {icon: 1});
                    setTimeout(function () {
                        layer.closeAll();   // 关闭弹窗
                        location.reload();  // 页面刷新
                    }, 1500)
                } else {
                    layer.msg(res.msg, {icon: 0})
                }
            }, 'json');
        }

        //头工具栏事件
        table.on('toolbar(version)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'add':
                    // 清空表单
                    document.getElementById('id').value = 0;
                    $("#add-form")[0].reset();
                    layui.form.render();
                    // 打开窗口
                  var title = $(this).html();
                     var width = $(this).data('width');
                     var height = $(this).data('height');
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
                      var width = '90%';
                      var height = '400px';
                     }else{
                        var width = '500px';
                      var height = '400px';
                     };
                // 打开窗口
                layer.open({  
                     type: 1 //Page层类型
                     ,area: [width, height]
                     ,title: title 
                     ,closeBtn: false
                     ,shade: 0.3 //遮罩透明度
                     ,maxmin: true //允许全屏最小化
                     ,anim: 1 //0-6的动画形式，-1不开启
                     ,shadeClose: true
                     ,id: 'layui-id' //设定一个id，防止重复弹出
                     ,moveType: 0 //拖拽模式，0或者1
                     ,content: $("#add-main")
                     });
                    break;
                case 'delete':
                    var data = checkStatus.data;
                    var ids = [];
                    data.forEach(item => {
                        ids.push(item.id);
                    });
                    if (ids <= 0) {
                        return layer.msg('请选择删除项！', {icon: 0});
                    }
                 var index = layer.msg('提交中，请稍候', {
                   icon: 16,
                   time: false,
                   shade: 0.3
                 });
                    $.post('/version/del', {id: ids}, function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg, {icon: 1});
                            setTimeout(function () {
                                location.reload();  // 页面刷新
                            }, 1500)
                        } else {
                            layer.msg(res.msg, {icon: 0});
                        }
                    }, 'json');
                    break;
                case 'refresh':
                    location.reload();
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(version)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'del') {
                layer.confirm('真的删除么？', function (index) {
                 var index = layer.msg('提交中，请稍候', {
                   icon: 16,
                   time: false,
                   shade: 0.3
                 });
                    $.post('/version/del', {id: data.id}, function (res) {
                        if (res.code == 0) {
                            layer.msg(res.msg, {icon: 1});
                            setTimeout(function () {
                                location.reload();  // 页面刷新
                            }, 1500)
                        } else {
                            layer.msg(res.msg, {icon: 0});
                            layer.close(index);
                        }
                    }, 'json')
                });
            } else if (obj.event === 'edit') {
                if (data.length == 0) {
                    return layer.msg('请选择一行！', {icon: 0});
                }
               // 打开窗口
                  var title = $(this).html();
                     var width = $(this).data('width');
                     var height = $(this).data('height');
                if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
                      var width = '90%';
                      var height = '400px';
                     }else{
                        var width = '500px';
                      var height = '400px';
                     };
                // 打开窗口
                layer.open({  
                     type: 1 //Page层类型
                     ,area: [width, height]
                     ,title: title 
                     ,closeBtn: false
                     ,shade: 0.3 //遮罩透明度
                     ,maxmin: true //允许全屏最小化
                     ,anim: 4 //0-6的动画形式，-1不开启
                     ,shadeClose: true
                     ,id: 'layui-id' //设定一个id，防止重复弹出
                     ,moveType: 0 //拖拽模式，0或者1
                     ,content: $("#add-main")
                     });
                document.getElementById('id').value = data.id;
                document.getElementById('oldversion').value = data.oldversion;
                document.getElementById('newversion').value = data.newversion;
                document.getElementById('content').value = data.content;
                document.getElementById('weigh').value = data.weigh;
            }
        });
    })
    ;


</script>
{/block}