<!DOCTYPE html>
<html>
{include file="index/common/head"/}
<link href="/static/behand/css/user.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
   
   <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
    <script src="/static/layui/layui.js" charset="utf-8"></script>
<body>

{include file="index/common/header" /}

              
<div class="login-wrapper">
    <form id="email-form" class="layui-form" method="POST" action="" onsubmit="return false;">
        <h2><i>{:__('Email retrieval')}</i><a href="/user/sms">&emsp;&emsp;&emsp;<i class="layui-btn layui-btn-fluid" style="width:120px;">{:__('SMS retrieval')}</i></a></h2>
        <div class="layui-form-item layui-input-icon-group">
            <h4>❉❊请选择邮箱❊❉</h4>
                <input type="radio" name="uid" value="2" title=" {:__('Sina email')}" checked>
                <input type="radio" name="uid" value="3" title="{:__('Enterprise mailbox')}">
                <input type="radio" name="uid" value="4" title="{:__('Box 126')}">
                </div>
         <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-email"></i>
            <input class="layui-input" name="email" id="email" placeholder="{:__('Please input email')}" autocomplete="off"
                   lay-verType="tips" lay-verify="required" required/>
        </div>
                <div class="layui-form-item layui-input-icon-group login-captcha-group">
            <i class="layui-icon layui-icon-auz"></i>
            <input class="layui-input" id="code" name="code" placeholder="{:__('Please enter the verification code')}" autocomplete="off"/>
            <botton lay-filter="retrievemima" id="emaila" lay-submit class="login-captcha" />{:__('Click send')}</botton>
        </div>
       <div class="layui-form-item layui-input-icon-group">
            <i class="layui-icon layui-icon-password"></i>
            <input class="layui-input" name="password" id="password" placeholder="{:__('Please enter the login password')}" type="password"/>
        </div>
        <div class="layui-form-item">
            <input type="submit" class="layui-btn-fluid" id='btn' lay-filter="retrieve" lay-submit disabled="disabled" value="{:__('Submit for verification')}">
        </div>
    </form>
</div> 

<style>
.notClick{
height:40px; pointer-events: none
 } 
</style>
</body>
{include file="index/common/script" /}

    <script>

   $("input").on("input",function(){
             var getCode = $("#code").val();
             var getPassword = $("#password").val();
             var getEmail = $("#email").val();
 
             $(this).css("color","#232323");
 
             if(getCode != '' && getPassword != '' && getEmail != ''){
              $('#btn').attr('disabled', false).css('background','#009688').css('border','none').css('color','#fff');
               }else{ 
             $('#btn').attr('disabled', true).css('background','rgba(0,0,0,0.2)').css('border','1px solid #fff').css('color','#232323'); 
    
           }
       });
     
    </script>
<!-- 找回密码 -->
<script>
    layui.use(['layer', 'form', 'jquery'], function(){
        var layer = layui.layer,
            form  = layui.form,
            $     = layui.jquery;
form.on('submit(retrievemima)', function (data) {
                //清空input
                $("input[name='code']").val("").focus();
                $("input[name='password']").val("").focus();
   var index = layer.msg('<i>{:__('Sending, please wait')}</i>', {
        icon: 16,
        time: false,
        shade: 0.3,
        anim: 1
    });
    $.ajax({
         url: "/user/retrievepwd",
        type: data.form.method,
        dataType: 'json',
        data: $(data.form).serialize(),
        success: function (result) {
            if (result.code === 0) {
            //$('input[name="code"]').val(result.captcha);
           // layer.msg('发送成功', {icon: 1});
                setTimeout(function () {
                     if(isNaN(parseInt($("#emaila").html()))){
                        var origText  = '60';
                        var interval = setInterval(function(){
                            var time = --origText;
                            if(time <= 0) {
                                clearInterval(interval);
                              $('#emaila').html('{:__('Resend')}').css('border','none').css('color','#ffffff').css('background','#009688').removeClass("notClick");
                            }else{
                                $('#emaila').html(time+'&nbsp;&nbsp;{:__('second')}').css('border','1px solid #f2f2f2').css('color','#616161').css('background','buttonface').addClass('notClick');
                            
                        }
                        }, 1000);
                   // parent.location.reload();
                   }
                }, 1000);

            layer.close(index);
            layer.msg(result.msg, {icon: 1});
            }else{
                
            layer.close(index);
            layer.msg(result.msg, {icon: 2});
            }
        },
    });
    return false;
});
form.on('submit(retrieve)', function (data) {
    var index = layer.msg('<i>{:__('Verification in progress, please wait')}</i>', {
        icon: 16,
        time: false,
        shade: 0.3,
        anim: 4
    });

    $.ajax({
        url: "/user/emailcheck",
        type: data.form.method,
        dataType: 'json',
        data: $(data.form).serialize(),
        success: function (result) {
            if (result.code === 0) {
                setTimeout(function () {
                        location.href = result.url;
                    //parent.location.reload();
                }, 1000);
           
            layer.close(index);
            layer.msg(result.msg, {icon: 1});
            }else{
                
            layer.close(index);
            layer.msg(result.msg, {icon: 2});
            }
        },
    });
    return false;
});
});

</script>
</html>