<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class=""> <!--<![endif]-->
{include file="index/common/head"/}
<body class="group-page">

{include file="index/common/header" /}

<div class="container" id="content-container">
    <div class="row mt-2">
        <main class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body pt-0">
                    <div class="channel-list">
                        <div class="row">
                            {include file="index/common/banner" /}
                            <!-- S 栏目列表 -->
                            <div class="col-xs-12">
                                <h3><a href="#">游戏列表</a></h3>
                                <div class="row">
                                    <!-- card-->
                                    <div class="col-sm-4 col-md-3 product-item">
                                        <div class="card">
                                            <div class="thumb">
                                                <a href="#" class="preview-link">
                                                    <div class="embed-responsive embed-responsive-4by3">
                                                        <img src="/static/behand/picture/a98848bf11310ede20ec8ef18a388b59.png" alt="">
                                                    </div>
                                                </a>
                                                <a href="/game/cat" class="quickview-link"><i class="fa fa-search"></i></a>
                                            </div>
                                            <div class="title">
                                                <h2><a href="#">游戏《圈小猫》</a></h2>
                                            </div>
                                            <div class="operate">
                                                <div class="pull-left text-gray">
                                                    <div class="mt-1">
                                                        <span class=""><i class="fa fa-eye"></i>6810</span>
                                                        <span class="ml-2"><i class="fa fa-comments"></i> 1                    </span>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="/game/cat" class="btn btn-primary detail">查看详情</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 product-item">
                                        <div class="card">
                                            <div class="thumb">
                                                <a href="#" class="preview-link">
                                                    <div class="embed-responsive embed-responsive-4by3">
                                                        <img src="/static/behand/picture/4d8bd06115adfd14ef2fb81f38349c90.png" alt="">
                                                    </div>
                                                </a>
                                                <a href="/game/lottery" class="quickview-link"><i class="fa fa-search"></i></a>
                                            </div>
                                            <div class="title">
                                                <h2><a href="/game/lottery">抽奖转盘</a></h2>
                                            </div>
                                            <div class="operate">
                                                <div class="pull-left text-gray">
                                                    <div class="mt-1">
                                                        <span class=""><i class="fa fa-eye"></i>6810</span>
                                                        <span class="ml-2"><i class="fa fa-comments"></i> 1                    </span>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="/game/lottery" class="btn btn-primary detail">查看详情</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 product-item">
                                        <div class="card">
                                            <div class="thumb">
                                                <a href="#" class="preview-link">
                                                    <div class="embed-responsive embed-responsive-4by3">
                                                        <img src="/static/behand/picture/4d8bd06115adfd14ef2fb81f38349c90.png" alt="">
                                                    </div>
                                                </a>
                                                <a href="/game/chat" class="quickview-link"><i class="fa fa-search"></i></a>
                                            </div>
                                            <div class="title">
                                                <h2><a href="/game/chat">聊天室</a></h2>
                                            </div>
                                            <div class="operate">
                                                <div class="pull-left text-gray">
                                                    <div class="mt-1">
                                                        <span class=""><i class="fa fa-eye"></i>6810</span>
                                                        <span class="ml-2"><i class="fa fa-comments"></i> 1                    </span>
                                                    </div>
                                                </div>
                                                <div class="pull-right">
                                                    <a href="/game/chat" class="btn btn-primary detail">查看详情</a>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- card-->
                                </div>
                            </div>
                            <!-- E 栏目列表 -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{include file="index/common/footer" /}
{include file="index/common/script" /}

</body>
</html>